<div class="row">
  <div class="col-3">
    <select [(ngModel)]="selectedOption" name="" id="" class="form-select">
      <option value="ABC Cost">ABC Cost</option>
      <option value="DEF Cost">DEF Cost</option>
      <option value="GHI Cost">GHI Cost</option>
      <option value="Others">Others</option>
    </select>
  </div>
  <div class="col-3">
    @if (selectedOption === "Others") {
    <input
      class="form-control"
      type="text"
      placeholder="Enter other value."
      [(ngModel)]="othersValue"
    />
    }
  </div>
  <div class="col-3">
    @if (selectedOption === "Others") {
    <input class="form-control" type="text" value="{{ othersValue }}" readonly />
    }
  </div>
</div>
<hr />

<div>
  <div class="row">
    <div class="col-3">
      <input type="text" class="form-control" [(ngModel)]="newUser" placeholder="Enter user name" />
    </div>
    <div class="col-1">
      <button class="btn btn-success" (click)="addUser()">Add User</button>
    </div>
  </div>
  <ul>
    @for (user of userList; track $index) {
    <li>{{ user }}</li>
    }
  </ul>
</div>

<div class="row">
  <div class="col-4">
    <table class="table table-border">
      <thead>
        <tr>
          <th>Roll</th>
          <th>Name</th>
          <th>City</th>
          <th>Roll</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        @for (item of studentList; track $index) {
        <tr>
          <td>{{ item.roll }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.city }}</td>
          <td>{{ item.gender }}</td>
          <td>{{ item.status ? 'Active' : 'Inactive' }}</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
