<div class="row p-2">
  <div class="col-7">
    <div class="card">
      <div class="card-header bg-warning">Photos List</div>
      <div class="card-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Sr No</th>
              <th>Title</th>
              <th>Url</th>
              <th>Thumbnail</th>
              <th>Action</th>
            </tr>
          </thead>

          <tbody>
            @for (item of photosList; track $index){
            <tr>
              <th>{{$index+1}}</th>
              <th>{{item.title}}</th>
              <th>{{item.url}}</th>
              <th>{{item.thumbnailUrl}}</th>
              <th>
                <button class="btn btn-success" (click)="onEdit(item)">Edit</button>
                <button class="btn btn-danger" (click)="onDeletePhoto(item.id)">Delete</button>
              </th>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-5">
    <div class="card">
      <div class="card-header bg-warning">Photos List</div>
    <div class="card-body">
      <form>
        <div class="row">
          <div class="col-6">
            <label>Album Id</label>
            <input type="text" name="albumId" [(ngModel)]="newPhoto.albumId" class="form-control" />
          </div>
          <div class="col-6">
            <label>Title</label>
            <input type="text" name="title" [(ngModel)]="newPhoto.title" class="form-control" />
          </div>
          <div class="col-6">
            <label>Url</label>
            <input type="text" name="url" [(ngModel)]="newPhoto.url" class="form-control" />
          </div>
          <div class="col-6">
            <label>Thumbnail</label>
            <input type="text" name="thumbnailUrl" [(ngModel)]="newPhoto.thumbnailUrl" class="form-control" />
          </div>
        </div>
    
        <div class="row pt-2">
          <div class="col-6">
            <button type="button" (click)="onReset()" class="w-100 btn btn-secondary"
              (click)="newPhoto = { albumId: 0, id: 0, title: '', url: '', thumbnailUrl: '' }">
              Reset
            </button>
          </div>
          <div class="col-6">
            @if (newPhoto.id == 0) {
              <button type="button" class="w-100 btn btn-success" (click)="onSavePhoto()">Save</button>
            } @else {
              <button type="button" class="w-100 btn btn-warning" (click)="onUpdatePhoto()">Update</button>
            }
          </div>
        </div>
      </form>
    </div>

    </div>
  </div>
</div>
